# --- Database ---
DB_HOST=db
DB_PORT=5432
DB_USER=paku_user
DB_PASSWORD=Paku_Dev_2026_Secure!
DB_NAME=paku_db
DB_SSLMODE=disable
GCS_BUCKET=paku-media-2026
GCS_SIGNED_URL_TTL_SECONDS=300
# --- App ---
ROOT_PATH=/paku/api/v1
ENV=development
STREAMING_SECRET=7e9d4f2a8b6c1e3d7f5a9c2b4d6e8f1a39f4c2e3a8b7d1f6c4a2e9d8f3b1c6a
GOOGLE_ROUTES_API_KEY=AIzaSyCP8NhD7R-g5J81DR-_ZUr_WWx7OpQasaA